<div class="container bg-light p-2">
    <form [formGroup]="formGroup">
        <div class="form-group">
            <label for="username">Username</label>
            <input formControlName="username"
                   type="text"
                   class="form-control"
                   id="username"
                   aria-describedby="usernameHelp"
                   placeholder="Enter username">
        </div>

        <div class="form-group">
            <label for="email">Email address</label>
            <input formControlName="email"
                   type="email"
                   class="form-control"
                   id="email"
                   aria-describedby="emailHelp"
                   placeholder="Enter email">
        </div>

        <div class="form-group">
            <label for="password">password</label>
            <input formControlName="password"
                   type="password"
                   class="form-control"
                   id="password"
                   placeholder="Password">
        </div>

        <div class="form-group">
            <label for="confirmPassword">Confirm password</label>
            <input formControlName="confirmPassword"
                   type="password"
                   class="form-control"
                   id="confirmPassword"
                   placeholder="Confirm password">
        </div>

        <button [class]="formGroup.valid ? 'btn btn-primary' : 'btn btn-disabled'"
                (click)="onRegisterClicked()">Register</button>

        <a routerLink="/login"
           class="btn btn-secondary ml-1">Already a member</a>
    </form>
</div>
